SUPABASE_KEY=IsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhwbHltcmhvZHl3dHdra21vbGl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDE5MzU4MTIsImV4cCI6MjAxNzUxMTgxMn0.WD2NV11W3oSRhzUWfmaBPbwtE3aBlf5STDveCQ_vGwY
SUPABASE_URL=https://xplymrhodywtiu.supabase.co